body {
    margin: 0px;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.mainButton {
    background-color: green;
    color: rgb(243, 245, 113);
    border: 0px;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bolder;
    
}
.mainButton:hover{
    cursor: pointer;
    box-shadow: 2px 2px rgb(102, 2, 2);
    transform: scale(1.1);
}
